.container{
    margin-top: 3rem;
    width: 30rem;
    height: 35rem;
    border-radius: 60px;
    box-shadow: -17px 13px #888888;
    border: solid black 2px;
    background-color: #fff;
}
.gombm{
    margin-top: 15rem;
    margin-left: 1rem;
    border-radius: 60px;

}