<div class="container mt-3">
    <h2>Kategóriák</h2>
    <button class="btn btn-primary" (click)="addCategory()">Új kategória hozzáadása</button>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Név</th>
                <th scope="col">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{category.name}}</td>
                <td>
                    <button class="btn btn-danger btn-sm me-2" (click)="deleteCategory(category.id)"><i class="bi bi-x-lg"></i></button>
                    <button class="btn btn-warning btn-sm" (click)="editCategory(category.id)"><i class="bi bi-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>