#chart{
    width: 100%;
    height: 400px;
    margin: auto;
    
}
.container{
    margin-top: 3rem;
    width: 50rem;
    height: 35rem;
    border-radius: 60px;
    box-shadow: -17px 13px #1c1922b4;
    border: solid black 2px;
   
}