
<div class="container mt-5">
    <h3 class="mt-3 text-center">Profil</h3>
    <hr>
    <div class="row">
    <!-- Left column -->
    <div class="col-md-6">
        <div class="mb-3">
        <label for="Emailfield" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Emailfield" [(ngModel)]="User.email">
        </div>

        <div class="mb-3">
        <label for="Namefield" class="form-label">Név</label>
        <input type="text" class="form-control" id="Namefield" [(ngModel)]="User.name">
        </div>

        <button type="submit" class="btn btn-primary" (click)="Profileupdate()">Adatmódosítás</button>
    </div>

    <!-- Right column -->
    <div class="col-md-6">
        <div class="mb-3">
        <label for="oldPasswordfield" class="form-label">Mostani jelszó</label>
        <input type="password" class="form-control" id="oldPasswordfield" [(ngModel)]="oldpassword">
        </div>

        <div class="mb-3">
        <label for="Passwordfield" class="form-label">Új jelszó</label>
        <input type="password" class="form-control" id="Passwordfield" [(ngModel)]="newpassword">
        </div>

        <div class="mb-3">
        <label for="ConfirmPasswordfield" class="form-label">Új jelszó megerősítés</label>
        <input type="password" class="form-control" id="ConfirmPasswordfield" [(ngModel)]="confirmpassword">
        </div>

        <button type="submit" class="btn btn-primary" (click)="Passwordupdate()">Jelszó módosítás</button>
        </div>
    </div>


</div>