html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #693cfe4b 0%,rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
  
 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  
}