<div class="container mt-3 d-flex flex-lg-row flex-column justify-content-between" id="walletBox">
    <div class="left">
        <img src="../../assets/Walletpng.png" alt="walletPNG" id="walletPNG">
        <h3>Összeg: {{walletBalance || 0}} Ft</h3>
        <div class="buttons d-flex flex-column mt-3 col-lg-12">
            <button class="btn btn-primary mb-2" (click)="filter('kiadás')">Kiadás</button>
            <button class="btn btn-primary" (click)="filter('bevétel')">Bevétel</button>
            <button class="btn btn-warning mt-3" (click)="filter('összes')">Szűrés törlése</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mt-5 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                Hozzáadás
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Új tranzakció hozzáadása</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="amount" class="form-label">Összeg (Ft):</label>
                                    <input type="number" class="form-control" id="amount" [(ngModel)]="newTransaction.amount" name="amount">
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Kategória:</label>
                                    <select class="form-select" id="category" [(ngModel)]="newTransaction.categoryID" name="category">
                                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="type" class="form-label">Típus:</label>
                                    <select class="form-select" id="type" [(ngModel)]="newTransaction.type" name="type">
                                        <option value="kiadás">Kiadás</option>
                                        <option value="bevétel">Bevétel</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
                            <button type="button" class="btn btn-primary" (click)="isEditing ? updateTransaction(newTransaction.ID!) : addTransaction()" data-bs-dismiss='modal'>{{isEditing ? 'Mentés' : 'Hozzáadás'}}</button>
                            <button type="button" class="btn btn-warning" (click)="editTransaction(newTransaction.ID!)" data-bs-dismiss='modal'>Szerkesztés</button>
                            <button type="button" class="btn btn-danger" (click)="deleteTransaction(newTransaction.ID!)" data-bs-dismiss='modal'>Törlés</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right mt-3 col-lg-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Összeg</th>
                    <th scope="col">Kategória</th>
                    <th scope="col">Típus</th>
                    <th scope="col">Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of walletTransactions; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{transaction.amount}} Ft</td>
                    <td>{{getCategoryName(transaction.categoryID)}}</td>
                    <td>{{transaction.type}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm me-2" (click)="deleteTransaction(transaction.ID!)"><i
                                class="bi bi-x-lg"></i></button>
                        <button class="btn btn-warning btn-sm" (click)="editTransaction(transaction.ID!)"><i
                                class="bi bi-pencil"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="wallets" class="me-2">
            <h4>Saját pénztárcák:</h4>
            <hr>
            <div *ngFor="let wallet of wallets" class="d-flex flex-lg-row" id="wallets">
                <a (click)="selectWallet(wallet.ID)" class="wallet-link">{{ wallet.name }}</a>
            </div>
        </div>
    </div>