#calendar {
    max-width: 1100px;
    margin: 40px auto;
    height: 600px;
}
.container{
  margin-top: 3rem;
  width: 30rem;
  height: 35rem;
  border-radius: 60px;
  box-shadow: -17px 13px #1c1922b4;
  border: solid black 2px;
   
}